(
  resources: {},
  entities: {
    7: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0,
            y: 0.0,
            z: 0.0,
          ),
          rotation: (0.0, -0.7071068, 0.0, 0.7071068),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::AssetMesh": (
          path: "low_poly_fighter_2.gltf#Mesh2/Primitive0",
        ),
        "space_editor::prefab::save::ChildrenPrefab": ([
          10,
          11,
        ]),
      },
    ),
    8: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.0024896115,
            y: 0.25602394,
            z: 0.0011815466,
          ),
          rotation: (-0.0000013560051, 0.00002266525, -0.000022667607, 1.0),
          scale: (
            x: 0.1,
            y: 0.2,
            z: 0.09999573,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::AssetMesh": (
          path: "flame.glb#Mesh0/Primitive0",
        ),
        "frontier_folly::object::thruster_flame::ThrusterFlame": (
          length: 1.0,
          scale_ratio: 0.2,
          max_length: 1.0,
          look_vector: (
            x: 0.0,
            y: 0.0,
            z: 1.0,
          ),
          point_light: (
            entity: 13,
          ),
        ),
      },
    ),
    9: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.000037759542,
            y: 0.384009,
            z: 0.0,
          ),
          rotation: (-0.0000000149011035, 0.0000020116604, -0.0000020116777, 1.0),
          scale: (
            x: 1.0,
            y: 0.9999919,
            z: 0.99999195,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_pbr::light::PointLight": (
          color: Rgba(
            red: 1.0,
            green: 0.7058824,
            blue: 0.0,
            alpha: 1.0,
          ),
          intensity: 20.0,
          range: 20.0,
          radius: 0.0,
          shadows_enabled: false,
          shadow_depth_bias: 0.02,
          shadow_normal_bias: 0.6,
        ),
      },
    ),
    10: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.6145791,
            y: 0.054736555,
            z: 0.14563978,
          ),
          rotation: (0.5, 0.5, -0.5, 0.50000006),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::AssetMesh": (
          path: "low_poly_fighter_2.gltf#Mesh1/Primitive0",
        ),
        "space_editor::prefab::save::ChildrenPrefab": ([
          12,
          9,
        ]),
      },
    ),
    11: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.6125513,
            y: 0.058001567,
            z: -0.13519481,
          ),
          rotation: (0.5, 0.5, -0.5, 0.50000006),
          scale: (
            x: 1.0,
            y: 1.0,
            z: 1.0,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::material::MaterialPrefab": (
          base_color: Rgba(
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          ),
          base_color_texture: "",
          emissive: Rgba(
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
          ),
          emissive_texture: "",
          perceptual_roughness: 0.5,
          metallic: 0.0,
          metallic_roughness_texture: "",
          reflectance: 0.5,
          normal_map_texture: "",
          flip_normal_map_y: false,
          occlusion_texture: "",
          double_sided: false,
          unlit: false,
          fog_enabled: true,
          alpha_mode: Opaque,
          depth_bias: 0.0,
          depth_map: "",
          parallax_depth_scale: 0.1,
          parallax_mapping_method: Occlusion,
          max_parallax_layer_count: 16.0,
        ),
        "space_editor::prefab::component::AssetMesh": (
          path: "low_poly_fighter_2.gltf#Mesh1/Primitive0",
        ),
        "space_editor::prefab::save::ChildrenPrefab": ([
          8,
          13,
        ]),
      },
    ),
    12: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: -0.000014215708,
            y: 0.24654412,
            z: 0.0018413961,
          ),
          rotation: (-0.0000013560049, 0.000027822547, -0.000027825246, 1.0),
          scale: (
            x: 0.1,
            y: 0.2,
            z: 0.09999883,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "space_editor::prefab::component::AssetMesh": (
          path: "flame.glb#Mesh0/Primitive0",
        ),
        "frontier_folly::object::thruster_flame::ThrusterFlame": (
          length: 1.0,
          scale_ratio: 0.2,
          max_length: 1.0,
          look_vector: (
            x: 0.0,
            y: 0.0,
            z: 1.0,
          ),
          point_light: (
            entity: 9,
          ),
        ),
      },
    ),
    13: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (
            x: 0.00003528595,
            y: 0.35842782,
            z: 0.0,
          ),
          rotation: (-0.00000001490111, 0.0000018477463, -0.0000018477626, 1.0),
          scale: (
            x: 1.0,
            y: 0.99999255,
            z: 0.9999926,
          ),
        ),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_pbr::light::PointLight": (
          color: Rgba(
            red: 1.0,
            green: 0.7058824,
            blue: 0.0,
            alpha: 1.0,
          ),
          intensity: 20.0,
          range: 20.0,
          radius: 0.0,
          shadows_enabled: false,
          shadow_depth_bias: 0.02,
          shadow_normal_bias: 0.6,
        ),
      },
    ),
  },
)